body{
background-image:url(https://c0.wallpaperflare.com/preview/390/833/142/israel-nazareth-pink-flowers.jpg);
background-size:cover;
background-repeat:no-repeat;
}
.App{

    text-align: center;
    color :white;
    font-size: 70%;
    font-family:roboto;
    
}
img{
    border-radius: 90%;
    width: 250px;
    margin-top:5%;
}

    
